contextily
flask
geopandas
huggingface_hub
ipykernel
jupyterlab
lightgbm
matplotlib
modelscope
numpy
openpyxl
pandas
peft
pyarrow
pydantic
pyyaml
rouge
scikit-learn
seaborn
sentence-transformers
shapely
tqdm
transformers
vllm
